@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: Nunito,Arial,Verdana,sans-serif;
}
.togleMobileMenu{
    position: absolute;
    top:-10px;
    left:0px;
    z-index:1000;
    transition: .6s;
    opacity:1;
}