.containerTable{
    margin-left:-100px;
    width:55%;
    min-width:500px;
    height:460px;
    background-color:#495577;
    border-radius:8px;
    border:1px solid lightblue;
    box-shadow: 1px 2px 5px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
    opacity:0.5;
}

table{
    border-collapse:collapse;
    border-radius:8px;
    width:670px;
    height:445px;
    color:white;
    text-align: center;
    width:95%;
    border-top:1px solid white;
    border-bottom:1px solid white;
}
tr:hover{
    background-color:#505b7c;
}
table thead{
    height:50px;
    background-color:#505b7c;
    font-weight: bold;
}
table tr{
    border-bottom:1px solid white;
    height:20px;
}
table td{
    border-bottom:1px solid white;
    border-radius:5px;
}
